
*.DS_Store
*.pyc
SlicerAutomatedDentalTools-debug/BATCHDENTALSEG/Resources/ML/Dataset111_453CT/nnUNetTrainer__nnUNetPlans__3d_fullres/fold_0/checkpoint_final.pth
BATCHDENTALSEG/Resources/ML/Dataset111_453CT_v100.zip
